.landingContainer {
    max-width: 1400px;
    margin: 0 auto;
}

.bannerWrapper {
    width: 100%;
    margin: 100px 0;
    background: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    span {
        font-size: 50px;
        color: #c90000;
        padding-left: 50px;
    }

    img {
        display: block;
        height: 200px;
        object-fit: contain;
    }

    @media (max-width: 768px) {
        display: block;
        margin: 0;
        border-radius: 0;
        margin-bottom: 50px;

        span {
            display: block;
            font-size: 30px;
            line-height: 1.5;
            padding-left: 0;
            padding: 20px;
            text-align: center;
        }

        img {
            width: 100%;
        }
    }
}

.contentWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    svg {
        width: 100px;
        margin: 0 auto;
        display: block;
    }
}

.boxWrapper {
    padding: 10px;
    max-width: 400px;
    font-size: 20px;
    line-height: 1.5;
}

.boxText {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
}
